{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "plugins": [
    "jest",
    "react"
  ],
  "rules": {
    "semi": ["warn", "always"],
    "quotes": ["warn", "single"],
    "no-param-reassign": 0,
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": 0,
    "global-require": 0,
    "jsx-a11y/media-has-caption": 0,
    "import/prefer-default-export": 0,
    "react/forbid-prop-types": 0,
    "react/prefer-es6-class": ["warn", "always"],
    "react/destructuring-assignment": 0,
    "max-len": 0,
    "jsx-a11y/accessible-emoji": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/href-no-hash": 0,
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/valid-expect": "error",
    "jsx-a11y/click-events-have-key-events": 0,
    "function-paren-newline": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "object-curly-newline": 0,
    "react/forbid-foreign-prop-types": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "no-unused-vars": "warn",
    "react/no-unused-prop-types": "off",
    "comma-dangle": ["error", "never"],
    "react/static-property-placement": "off",
    "react/require-default-props": "off",
    "react/jsx-curly-brace-presence": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-array-index-key": "off",
    "class-methods-use-this": "off",
    "no-shadow": "off",
    "no-const-assign": "off",
    "no-unused-expressions": "off",
    "no-console": "warn",
    "react/jsx-indent": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/no-unescaped-entities": "off",
    "react/prop-types": "off",
    "react/no-unused-state": "warn",
    "arrow-parens": "off"
  },
  "globals": {
    "document": true,
    "window": true
  }
}