// Colors
$white: #ffffff;

$text: #74708d;
$text-lighten: #c0bdd0;
$text-darken: #615d7c;
$text-darken-more: #514d6a;

$gray: #d2d9e5;
$gray-lighten: #eef0f4;
$gray-lighten-more: #f2f4f8;
$gray-lighten-more-more: #f9fafc;
$gray-darken: #636363;
$gray-border: #e4e9f0;
$gray-soft: #d6d6d6;
$gray-softly: #9b9b9b;
$gray-qasir: #f5f5f5;
$gray-faded: #fafafa;

$black: #0e0b20;
$black-lighten: #222034;
$black-lighten-more: #393749;

$blue: #0088ff;
$blue-darken: #0072d6;
$orange: #f2a654;
$yellow: yellow;
$green: #2cc150;

$menuBg: #001529;
$menuBg-darken: #000c17;

//Qasir Color
$qasir-color: #e34225;
.button-orange{
	background: $qasir-color !important;
	color: white !important;
  height: 36px;
  font-weight: 500 !important;
	&:hover{
		background: #fb6d53 !important;
		border-color: transparent !important;
	}
}
.button-transparent{
  border-color: $qasir-color;
  color: $qasir-color;
  background: transparent;
  height: 36px;
  &:hover, &:active, &:focus{
    background: $qasir-color;
    color: $white;
  }
}
.button-gray{
  background: $gray-qasir !important;
  color: $gray-softly !important;
  height: 36px;
  font-weight: 500 !important;
  &:hover{
    color: $white !important;
    background: #c5c5c5 !important;
    border-color: transparent !important;
  }
}
.button-green{
  background: $green !important;
  color: white !important;
  height: 36px;
  font-weight: 500 !important;
  &:hover{
    background: #67d067 !important;
    border-color: transparent !important;
  }
}

.custom-button-filter{
  a{
    color: $qasir-color;
    font-size: 14px;
    font-weight: 500;
  }
}
// Accent colors
$default: #acb7bf;
$primary: #0190fe;
$secondary: #6a7a84;
$success: #46be8a;
$info: #0887c9;
$warning: #f39834;
$danger: #fb434a;

// Font Family
// $base__font-family: 'Nunito Sans', sans-serif !important;
$base__font-family: 'Roboto', sans-serif !important;

// Font Size
$base__font-size: 13 !default;

// Convert value rem() sass mixin
@function rem($px, $base: $base__font-size) {
  @return #{floor( ($px/$base) * 100 ) / 100}rem; // to REMs
  // comment code above and uncomment below for change REMs to PXs
  //@return #{$px}px;
}

// Transitions
@mixin transition-fast() {
  transition: all 0.05s ease-in-out;
}
@mixin transition-middle() {
  transition: all 0.1s ease-in-out;
}
@mixin transition-slow() {
  transition: all 0.2s ease-in-out;
}
@mixin transition-very-slow() {
  transition: all 0.4s ease-in-out;
}
@mixin transition-color() {
  transition: color 0.2s ease-in-out;
}

// Responsive utils
$xxl-min-width: 1600px;
$xxl-max-width: 1599px;
$width-1440: 1440px;
$width-1280: 1280px;
$xl-min-width: 1200px;
$width-1025: 1025px;
$width-1024: 1024px;
$xl-max-width: 1199px;
$md-min-width: 992px;
$md-max-width: 991px;
$sm-min-width: 768px;
$sm-max-width: 767px;
$xs-min-width: 576px;
$xs-max-width: 575px;

// Custom Input 
.ant-input:hover, .ant-input:active, .ant-input:focus{
	border-color: $qasir-color !important;
}
.ant-select-selection--single{
  height: 38px !important;
}
.ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active, .ant-select-selection:hover{
  border-color: $qasir-color !important;
}
.ant-dropdown-trigger{
  height: 38px;
}

//card header custom
.card-header{
    color: #636363;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    background: #ffffff;
    margin: 0 2.3em;
}

// Modal
.ant-modal{
  display: block !important;
  top: 5em !important;
  text-align: left !important;
  @media only screen and(min-width: $sm-min-width){  
    width: 653px !important;
  }
}
.ant-modal-body {
  padding: 2.5rem;
}
.ant-alert-warning {
    border: 1px solid #ffe1af !important;
    background-color: #ffe1af !important;
    padding-left: 3.5rem;
}
.ant-modal-header{
  margin: 0em 2.2em 0 2.2em !important;
}
.ant-modal-footer{
  margin: 0em 2.2em 0 2.2em !important;
  padding-top: 2.2rem !important;
  padding-bottom: 2.2rem !important;
}
.ant-alert-warning .ant-alert-icon{
  font-size: 1.8em !important;
}
.ant-menu-dark .ant-menu-item:hover, .ant-menu-dark .ant-menu-item-active, .ant-menu-dark .ant-menu-submenu-active, .ant-menu-dark .ant-menu-submenu-open, .ant-menu-dark .ant-menu-submenu-selected, .ant-menu-dark .ant-menu-submenu-title:hover{
  color: $qasir-color;
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub{
  background: $white !important;
}

// custom upload image
.ant-upload img{
  width: 162px;
}
.ant-upload.ant-upload-select-picture-card{
  width: 172px;
  height: 172px;
}
.custom--icon-pin .fa{
  position: relative;
  bottom: 3.7em;
  right: 1em;
  float: right;
}

.ant-dropdown-trigger:hover{
  color: $qasir-color !important;
  border-color: $qasir-color !important;
}
.ant-layout-content{
  box-shadow: inset 0px 0px 75px -5px #d6d6d6;
  background: #fafafa;;
}
.card{
  border-color: transparent;
}

.ant-form-item .ant-form-item-label label, p, button{
  font-family: $base__font-family;
  font-weight: 500;
  color: $gray-darken;
}

.ant-table-thead, .ant-table-tbody{
  font-family: $base__font-family;
}

.ant-badge-count{
  background: #ffe6bc;
  .ant-scroll-number-only > p {
    color: #f5a623;
  }
}

.ant-checkbox-group-item {
  display: block;
}

// badges custom
.badge-warning-custom{
  background: #ffe1af;
  color: #f5a623;
}
.badge-success-custom{
  background: #c0edcb;
  color: #2cc150;
}
.badge-danger-custom{
  background: #fac5bb;
  color: #e34225;
}
.badge-primary-custom{
  background: #dbe7ff;
  color: #4a90e2;
}
.badge-default-custom{
  background: #d6d6d6;
  color: #636363;
}

// custom step create
.ant-steps-item-finish .ant-steps-item-icon {
  border-color: transparent;
  background-color: #fac5bb;
}
.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon{
  color: $qasir-color;
}
.ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title:after {
  background-color: #fac5bb;
  height: 4px;
}
.ant-steps-item-title:after{
  height: 4px;
}
.ant-steps-item-process .ant-steps-item-icon{
  background: #fac5bb;
  border-color: #fac5bb;
  color: $qasir-color;
}
.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon{
  color: $qasir-color;
}
.ant-steps-item-wait .ant-steps-item-icon{
  background-color: #eeeeee;
  color: $gray-softly;
  border-color: #eeeeee;
}
.ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item, .ant-steps-item-title, .ant-steps-item-icon{
  margin-right: 0;
}
.ant-steps-item-title{
  padding-right: 0;
}
.css-vj8t7z{
  height: 32px;
}

// Custom Chart
.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut{
  stroke: #e34225 !important;
}
.ct-series-a .ct-slice-pie, .ct-series-a .ct-area {
  fill: #ff3600 !important;
}

// custom label
.custom-badge-secondary{
  background: #d6d6d6;
  color: #636363;
  font-size: 14px;
  font-weight: 500;
}
.custom-badge-primary{
  background: #dbe7ff;
  color: #4a90e2;
  font-size: 14px;
  font-weight: 500;
}
.custom-badge-warning{
  background: #ffe1af;
  color: #f5a623;
  font-size: 14px;
  font-weight: 500;
}
.custom-badge-success{
  background: #c0edcb;
  color: #2cc150;
  font-size: 14px;
  font-weight: 500;
}
.custom-badge-danger{
  background: #fac5bb;
  color: #e34225;
  font-size: 14px;
  font-weight: 500;
}
// tabs
.ant-tabs-ink-bar{
  background: $qasir-color;
}
.ant-tabs-nav .ant-tabs-tab-active{
  color: $qasir-color;
}
.ant-tabs-nav .ant-tabs-tab:hover{
  color: $qasir-color !important;
}
.highlight-hover a p{
  font-weight: normal;
}
.highlight-hover span{
  color: $gray-softly;
}
.highlight-hover a p:hover{
  color: $qasir-color;
  text-decoration: underline;
}
.highlight-hover a:hover{
  color: $qasir-color;
}

// custom code verify
.react-code-input input{
  color: $qasir-color !important;
  width: 45px !important;
  @media (max-width: $xs-max-width) {
    width: 40px !important;
  }
}
@media (max-width: $md-max-width) {
  .custom__text-bottom-back{
    top: 1em !important;
    position: relative !important;
  }
}
.pac-container{
  border-top: none;
}