@import '../../resources/mixins';

.button--icon-search {
    position: absolute;
    right: 1em;
    top: 0.2em;
    border: none;
    cursor: pointer;
    background: transparent;
}
.button--icon-search:hover{
    color: $qasir-color;
}
.button--icon-search:focus {
    outline: transparent;
}